.record-date {
    border:  1px solid #ccc;
    border-radius: 3px;
    list-style: none;
    display: flex;
    color: #666;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0;
    height: 40px;
    align-items: center;
    background-color: white;
    height: auto;
    width: 50px;
}
.record-date-month{
    color: darkred;
    font-weight: bold;
    font-size: 0.5rem;

}
.record-date-day{
    color: black;
    font-weight: 200;
    font-size: 1.2rem;
}
.record-date-year{
    color: #666;
    font-size: 0.4rem;
}